<div id="<%= dom_id quiz %>">
  <p>
    <strong>Question:</strong>
    <%= quiz.question %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= quiz.answer %>
  </p>

  <p>
    <strong>Hint:</strong>
    <%= quiz.hint %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= quiz.topic_id %>
  </p>

</div>
