<h1>Flashcards
  for <%= link_to "#{@topic.title}", topic_path(@topic), class: 'btn btn-dark btn-xlg' %></h1>
<h3>Create a new flashcard.</h3>
<%= render 'flashcards/form', flashcard: @flashcard, topic: @topic %>

<div id="flashcards" class="row g-3 mb-3">
  <% @flashcards.each_with_index do |flashcard, i| %>
    <div class="col-12 col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Question <%= i + 1 %>:</h5>
          <p class="card-text"><%= flashcard.question %></p>
          <%= link_to 'Edit', edit_topic_flashcard_path(@topic, flashcard), class: "btn btn-primary" %>
          <%= button_to 'Delete', topic_flashcard_path(@topic, flashcard),
            method: :delete,
            data: {confirm: "Are you sure you want to destroy this flashcard?"},
            class: "btn btn-danger",
            form_class: "d-inline" %>

          <%# Move Up (unless it's the first) %>
          <% unless i == 0 %>
            <%= button_to "↑", move_up_topic_flashcard_path(@topic, flashcard), method: :patch, class: "reorder-button", form_class: "d-inline" %>
          <% end %>

          <%# Move Down (unless it's the last) %>
          <% unless i == @flashcards.size - 1 %>
            <%= button_to "↓", move_down_topic_flashcard_path(@topic, flashcard), method: :patch, class: "reorder-button", form_class: "d-inline" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col">
    <%= link_to "Back to #{@topic.title}", topic_path(@topic), class: "btn btn-secondary btn-lg" %>
  </div>
</div>
<%= javascript_include_tag "scroll-restore" %>
