<div class="row mt-5">
  <div class="col-12 text-center">
    <h2 class="mt-5 mb-5"><%= @flashcard.question %></h2>

    <div class="mb-5">
      <button onclick="document.getElementById('hint').style.display='block'" class="btn btn-lg btn-secondary">Show
        Hint
      </button>
      <button onclick="document.getElementById('answer').style.display='block'" class="btn btn-lg btn-secondary">Show
        Answer
      </button>
      <%= link_to 'Edit Flashcard', edit_topic_flashcard_path(@topic, @flashcard),  class: "btn btn-lg btn-secondary"%>
    </div>

    <div id="hint" class="mb-5" style="display: none;">
      <h4><span class="badge text-bg-dark mr-1">Hint:</span> <%= @flashcard.hint %></h4>
    </div>

    <div id="answer" class="mb-5" style="display: none;">
      <h4><span class="badge text-bg-dark mr-1">Answer:</span> <%= @flashcard.answer %></h4>
    </div>

    <div class="mt-2">
      <% if @previous_flashcard %>
        <%= link_to 'Previous Question', quiz_flashcard_topic_path(@topic, @previous_flashcard), class: "btn btn-primary btn-lg" %>
      <% else %>
        <button class="btn btn-primary btn-lg disabled">Previous Question
        </button>
      <% end %>

      <% if @next_flashcard %>
        <%= link_to 'Next Question', quiz_flashcard_topic_path(@topic, @next_flashcard), class: 'btn btn-primary btn-lg' %>
      <% else %>
        <button class="btn btn-primary btn-lg disabled" disabled>Next Question
        </button>
      <% end %>
    </div>
  </div>
  <div class="col">
    <div style="margin-top: 40px;">
      <%= link_to "Back to #{@topic.title}", topic_path(@topic), class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
