<%= link_to 'Start Quiz', quiz_topic_path(@topic), class: 'button', style: 'font-size: 2em; margin-top: 20px;' %>

<div class="list-item">
  <%= render @topic %>

  <div>
    <%= link_to "Edit this topic", edit_topic_path(@topic) %> |
    <%= link_to "Back to topics", topics_path %>

    <%= button_to "Destroy this topic", @topic, method: :delete, data: { confirm: "Are you sure you want to destroy this topic?" } %>
  </div>
</div>

<div class="list-item">
  <h2>Flashcards</h2>

  <ul>
    <% @flashcards.each do |flashcard| %>
      <li>
        <%= flashcard.question %>
        <%= link_to 'Edit', edit_topic_flashcard_path(@topic, flashcard) %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Show / Create flashcards", topic_flashcards_path(@topic) %>
</div>
