<!--
I took the approach to use simplecss from a rails demo. This looks nice
while keeping the focus on the functionality and usefulness of this application.
I chatted with ChatGPT about how to use CSS effectively to style the application
in the way that I envisioned.
 -->
<!DOCTYPE html>
<html>
<head>
  <title>StudyBuddy</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<header class="header">
  <h1>StudyBuddy</h1>
  <div class="header-container">
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Topics', topics_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <p class="notify"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>
</body>
</html>
